<%- include("header.ejs")%>
<h2 class="mb-4">Hi, <%= user.username%></h2>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <%
                if(users.length > 0){
                    for(let i =0;i<users.length;i++){
                        %>
                        <li class="list-group-item list-grou-item-dark cursor-pointer user-list" data-id="<%= users[i]["_id"]%>">
                            <img src="<%= users[i]["image"] %>" alt="" width="50px" height="50px">
                         <%= users[i]["username"]%>   
                         <%
                            if(users[i]["is_online"]==1){
                                %>
                                <sup class="online-status" id="<%= users[i]["_id"] %>">Online</sup>
                                <%
                            }
                            else{
                                %>
                                <sup class="offline-status" id="<%= users[i]["_id"] %>">Offline</sup>
                                <%
                            }
                         %>
                        </li>
                        <%
                    }
                } 
            %>
        </ul>
    </div>
    <div class="col-md-9">
        <h3 class="start-head">Click to start the chat</h3>
        <div class="chat-section">
            <div id="chat-container"></div>
            <form action="" id="chat-form" method="POST">
                <input type="text" class="border" name="message" placeholder="add message" id="message" required>    
                <input type="submit" value="Send Message" class="btn btn-primary">
            </form>
        </div>
        
    </div>

</div>
<script>
    var sender_id = "<%= user._id%>"
    var receiver_id; 
    var socket = io("/user-namespace",{
        auth:{
            token: "<%= user._id%>"
        }
    });





    $(document).ready(function(){
        $(".user-list").click(function(){
            var userId = $(this).attr("data-id");
            receiver_id = userId;
            $(".start-head").hide();
            $(".chat-section").show();

            socket.emit("existsChat",{senderId: sender_id, receiverId: receiver_id});
        });
    });

    $("#chat-form").submit(function(event){
        event.preventDefault();
        var message = $("#message").val();
        $.ajax({
            url:"/savechat",
            type: "POST",
            data:{senderId: sender_id,receiverId:receiver_id,message: message},
            success: function(response){
                if(response.success){
                    $("#message").val(" ");
                    let chat = response.data.message;
                    let html = 
                    ` <div class="current-user-chat">
                        <h5> `+chat+` </h5>
                      </div>`;
                    $("#chat-container").append(html);
                    socket.emit("newChat",response.data);
                    scrollChat();
                }
                else{
                    alert(response.msg);
                }

            }
        });


    });

   



    socket.on('getOnlineUser',function(data){
        $('#'+data.user_id).text('Online');
        $('#'+data.user_id).removeClass('offline-status');
        $('#'+data.user_id).addClass('online-status');
    });
    socket.on("getOfflineUser",function(data){
        $("#"+data.user_id).text("Offline");
        $('#'+data.user_id).addClass('offline-status');
        $('#'+data.user_id).removeClass('online-status');
    });

    socket.on("loadNewChat", function(data){
        if(sender_id == data.receiverId && receiver_id == data.senderId){
            let html = ` <div class="distance-user-chat">
                        <h5> `+data.message+` </h5>
                      </div>`;
        $("#chat-container").append(html);
        }
        scrollChat();
        });

    socket.on("loadChat",(data)=>{
        $("#chat-container").html("");
         var chats = data.chats;
         let html = '';
         for(let x = 0; x< chats.length; x++){
            let addClas = '';
            if(chats[x]["senderId"]== sender_id){
                addClas = "current-user-chat";
            }else{
                addClas = "distance-user-chat"; 
            }
            html +=  ` <div class=`+addClas+`>
                        <h5> `+chats[x]["message"]+` </h5>
                      </div>`;
         }
         $("#chat-container").append(html);
         scrollChat();


    })
    
    function scrollChat(){
        $("#chat-container").animate({
            scrollTop:$("#chat-container").offset().top +  $("#chat-container")[0].scrollHeight
        },0)
    }

    </script>
<%- include("footer.ejs")%>
